@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4f05 !important;
  // border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

/*=======** Navigation **=======*/

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 75px;
  height: 10vh;
  .searchSection {
    margin-right: 115px;
    form {
      position: relative;
      .searchInput {
        width: 560px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #808080;
        font-size: 14px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .searchBtn {
        position: absolute;
        right: 2%;
        top: 5%;
        background-color: transparent;
        border: none;
      }
    }
  }
  .icons {
    .bolimlar {
      margin: 10px;
      color: #000;
      font-size: 18px;
      &:hover {
        color: #ff5d18;
      }
    }
  }
}

/*=======** Categories **=======*/

.categories {
  height: 10vh;
  padding: 10px 75px 10px 75px;
  border-top: 0.09rem solid #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dropdown-toggle {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    color: #000;
    svg {
      margin-right: 12px;
    }
  }
  .dropdown-toggle::after {
    margin-left: 20px;
  }

  .links {
    display: flex;
    gap: 60px;
    list-style: none;
    .link-item {
      .item {
        text-decoration: none;
        color: #403f3f;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #ff5d18;
        }
      }
      .active {
        color: #ff5d18;
      }
    }
  }
}

/*=======** Home **=======*/

.home {
  height: 80vh;
  overflow: hidden;
  background-image: url("../assets/home\ bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .main {
    display: flex;
    justify-content: space-between;
    .side1 {
      padding: 145px 100px 10px 75px;
      h3 {
        font-size: 50px;
        color: #fff;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 30px;
      }
      p {
        font-family: "Open Sans", sans-serif;
        color: #fff;
        margin-bottom: 70px;
      }
      .buttons {
        .btn {
          background-color: #ff4f04;
          padding: 10px 20px;
          color: #fff;
          border-radius: 5px;
          transition: 0.3s ease-in-out;
          &:nth-child(1) {
            &:hover {
              background-color: #5a5a5a54;
            }
          }
          &:nth-child(2) {
            background-color: #5a5a5a54;
            margin-left: 30px;
            &:hover {
              background-color: #5a5a5a90;
            }
          }
          &:active {
            transform: scale(0.97);
          }
          svg {
            margin-left: 10px;
            font-size: 20px;
          }
        }
      }
    }
    .side2 {
      img {
        width: 100%;
      }
    }
  }
}

/*=======** Recommended **=======*/

.smartwatch {
  padding: 50px 75px;
  background-color: #f8f8f8;
  .titles {
    text-align: center;
    p {
      text-transform: uppercase;
      margin: 0;
      color: #302f2f;
      font-family: "Roboto", sans-serif;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
    h4 {
      text-transform: uppercase;
      margin: 0;
      color: #111111;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  .cards {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .productCard {
      text-align: center;
      img {
        border-radius: 10px;
      }
      h5 {
        margin: 15px 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 18px;
      }
      .productPrice {
        background-color: #f4e4de;
        padding: 10px 20px;
        color: #f44f04;
        display: inline;
        border-radius: 50px;
        margin: 0;
        font-weight: 500;
      }
    }
  }
  .buttonAtea {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .exploreBtn {
      padding: 15px 22px;
      border: 1px solid #707070;
      border-radius: 8px;
      color: #302f2f;
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
      &:active {
        transform: translate(0.98);
      }
    }
  }
}

/*=======** Ads **=======*/

.ads {
  background: url("../assets/sale_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  padding: 0 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  .contents {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #fff;
      font-size: 33px;
      width: 36%;
      font-family: "Roboto", sans-serif;
    }
    .shoppingBtn button {
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
      padding: 15px 40px;
      border-radius: 8px;
      outline: none;
      font-weight: 500;
      &:active {
        transform: scale(0.98);
      }
    }
  }
}

/*=======** NewCollec **=======*/

.newcollec {
  padding: 50px 0;
  .container {
    .row {
      .col-md-12 {
        text-align: center;
        p {
          margin: 30px 0 5px 0;
          text-transform: uppercase;
          color: #302f2f;
          font-family: "Roboto", sans-serif;
          letter-spacing: 2px;
        }
        h4 {
          text-transform: uppercase;
          margin: 0 0 30px 0;
          color: #111111;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
      .cardsArea {
        .row {
          .cards {
            .card {
              background-color: #f5f5f5;
              border: none;
              border-radius: 15px;
              margin: 10px;
              padding: 5px;
              cursor: pointer;
              transition: 0.3s ease-in-out;
              &:active {
                transform: scale(0.95);
              }
              .card-body {
                padding: 0;
                img {
                  width: 100%;
                }
              }
              .card-footer {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                p {
                  font-weight: 600;
                  font-family: "Roboto", sans-serif;
                }
                span {
                  background-color: #fff;
                  padding: 5px 14px;
                  border-radius: 20px;
                  color: #ff4f04;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
      .product-card {
        box-sizing: border-box;
        margin: 10px;
        width: 48%;
        .card {
          border: none;
          border-radius: 15px;
          background-color: #f5f5f5;
          padding: 5px;
          font-family: "Roboto", sans-serif;
          height: 100%;
          .card-header {
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: space-between;
            .discount {
              background-color: #000;
              padding: 5px 15px;
              color: #fff;
              font-weight: 600;
              border-radius: 20px;
            }
            .price-collec {
              background-color: #fff;
              padding: 5px 14px;
              border-radius: 20px;
              color: #ff4f04;
              font-weight: 700;
            }
          }
          .card-body {
            img {
              // width: 100%;
            }
          }
          .card-footer {
            border: none;
            background-color: transparent;
            padding: 0 30px;
            .brand-title {
              font-weight: 600;
              font-family: "Roboto", sans-serif;
            }
            .brand-name {
              color: #7a7a7a;
            }
          }
        }
      }
      .newcollec-footer {
        margin: 50px 0 30px 0;
        .exploreBtn {
          padding: 15px 22px;
          border: 1px solid #707070;
          border-radius: 8px;
          color: #302f2f;
          text-decoration: none;
          font-weight: 500;
          cursor: pointer;
          &:active {
            transform: translate(0.98);
          }
        }
      }
    }
  }
}

/*=======** Trending **=======*/

.trending {
  padding: 50px 0;
  .container {
    .row {
      .trending-title {
        p {
          margin: 30px 0 5px 0;
          text-transform: uppercase;
          color: #302f2f;
          font-family: "Roboto", sans-serif;
          letter-spacing: 2px;
        }
        h4 {
          text-transform: uppercase;
          margin: 0 0 30px 0;
          color: #111111;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
      .trendingProduct {
        .row {
          .product {
            .card {
              margin: 10px;
              border: none;
              .card-body {
                background-color: #f5f5f5;
                border-radius: 15px;
                img {
                  width: 100%;
                }
              }
              .card-footer {
                margin-top: 20px;
                background-color: transparent;
                border: none;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                p {
                  font-weight: 600;
                  font-family: "Roboto", sans-serif;
                }
                span {
                  background-color: #f4e4de;
                  padding: 5px 14px;
                  color: #f44f04;
                  display: inline;
                  border-radius: 20px;
                  margin: 0;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*=======** Footer **=======*/

footer {
  padding: 50px 0;
  .container {
    .row {
      .brand-box {
        padding: 0px 30px;
        .brand {
          img {
            margin-bottom: 15px;
          }
          p {
            width: 75%;
            color: #302f2f;
            font-family: "Roboto" sans-serif;
          }
        }
      }
      .col-md-8 {
        .row {
          .col-md-4 {
            .theme {
              margin: 0;
              margin-bottom: 5px;
              font-family: "Roboto" sans-serif;
              font-weight: 700;
              letter-spacing: 0.5px;
              font-size: 17px;
            }
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              li {
                padding: 5px 0;
                font-size: 15px;
                font-family: "Roboto" sans-serif;
                a {
                  color: #302f2f;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
