body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=======** Navigation **=======*/

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 75px;
    .searchSection {
        margin-right: 115px;
        form {
            position: relative;
            .searchInput {
                width: 560px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #808080;
                font-size: 14px;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            .searchBtn {
                position: absolute;
                right: 2%;
                top: 5%;
                background-color: transparent;
                border: none;
            }
        }
    }
    .icons {
        .bolimlar {
            margin: 10px;
            color: #000;
            font-size: 18px;
        }
    }
}

/*=======** Categories **=======*/

.categories {
    padding: 10px 75px 0 75px;
    border-top: 0.09rem solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dropdown-toggle {
        display: flex;
        align-items: center;
        background-color: #f8f8f8;
        color: #000;
        svg {
            margin-right: 12px;
        }
    }
    .dropdown-toggle::after {
        margin-left: 20px;
    }

    .links {
        display: flex;
        gap: 60px;
        list-style: none;
        .link-item {
            .item {
                text-decoration: none;
                color: #403f3f;
            }
            .active {
                color: #ff5d18;
            }
        }
    }
}